@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    margin: 0 auto;
}

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}

#logo{
    width: 15%;
}

#logo img{
    width: 100%;
}

#menu {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

#menu ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#menu a {
    text-decoration: none;
    color: #000;
    font-family: "Abel";
    font-size: 1.6em;
}

#menu a:hover{
    color: rgb(207, 128, 49);
    font-size: 1.6em;
}

#home {
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 85vh;
    align-items: center;
    background-color: #CAFAD9;
}

#home>article {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    color: #000;
    font-family: "Abel";
    font-size: 1.5em;
}

#home h1 {
    align-self: flex-end;
    width: 35vw;
    font-size: 2.5em;
    text-align: left;
    line-height: 1.1em;
    font-weight: normal;
}

#home p {
    text-align: left;
    align-self: flex-end;
    width: 35vw;
    margin-bottom: 2%;
}

#home div{
    display: flex;
}

#especialista{
    background-color: #7622D7;
    color: #fff;
    width: 20vw;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    font-family: "Abel";
    padding: 2vh;
}

#curriculo {
    background-color: #CAFAD9;
    color: #000;
    width: 15vw;
    border-radius: 50px;
    font-size: 1em;
    font-family: "Abel";
    padding: 2vh;
}

#avaliacoes {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F8F7;
}

#imagens-avaliacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#imagens-avaliacoes img{
    width: 10vw;
}

#botoes-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

#botoes-home button{
    margin: 0.5em;
}